<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:icon="@mipmap/">
        <activity
            android:name="com.example.a2020_1_60_028lab1.ClassSummaryActivity"
            android:exported="true"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity"/>
        <activity android:name=".MainActivity"/>
    </application>
</manifest>